body{background: #f2f2f2;}
.btn.btn-theme {background: #f39732; border-color: #f39732; color: #fff; }
.btn.btn-theme:hover,
.btn.btn-theme:focus {background: #c47d15; border-color: #c47d15; }
.header-nav .nav > li.active > a, 
.header-nav .nav > li.active > a:focus, 
.header-nav .nav > li.active > a:hover,
.header .dropdown-menu > li > a:hover, 
.header .dropdown-menu > li > a:focus,
.dropdown-menu-list > li > a:hover, 
.dropdown-menu-list > li > a:focus,
.item.item-thumbnail .item-price,
.cart-item > li .price,
.header-logo a span,
a {color: #f39732; }
.header-cart .total,
.step.active .number:before {background: #48ae35; }
.header .dropdown-menu{border-top-color: #f39732; }
.dropdown .arrow.top:after, 
.dropdown .arrow.top:before {border-bottom-color: #f39732; }
a:hover,
a:focus {color: #c47d15; }
.pace-progress {background: #c47d15; } .pace .pace-activity {border-top-color: #f39732; border-left-color: #f39732; } .header-logo .brand {border-color: #DF8F19 #c47d15 #935e10;} .text-theme-white {color: #fff!important; } .header-nav .nav>li>a{color:#fff;}
.w-100{width: 100%;height: auto;display: block;position: relative;} .m-b-m-10{margin-bottom: -10px !important;} .radius-5{border-radius: 5px !important} .btn-blue{background:#0d5776 !important; color:#fff !important;} .btn-blue:hover{ background:#f39732 !important; color:#fff !important;} .widget-title {border-bottom: 2px solid #0d5776; font-size: 18px; margin-bottom: 15px; padding-bottom: 0; } .widget-title span {background-color: #0d5776; color: #fff; padding: 6px 12px; display: inline-block; } .owl-Advertisement .owl-dots{display: none;} .center-block{display:block !important;} .text-black{color:#000 !important;}.text-bold{font-weight: bold !important;} .text-blue{color: #0d5776!important; } .socialonblogcard{width: 120px;position: absolute;z-index: 99; top:15px;right: 13px;opacity: 0;display: none;} .socialonblogcard span{padding: 0px 4px;} .blogcardonhover:hover .socialonblogcard{opacity: 1; display: block;}
.post-comments {padding-bottom: 9px; margin: 5px 0 5px; }
.post-comments .comment-meta {border-bottom: 1px solid #eee; margin-bottom: 5px; }
.post-comments .media {border-left: 1px dotted #000; border-bottom: 1px dotted #000; margin-bottom: 5px; padding-left: 10px; }
.post-comments .media-heading {font-size: 12px; color: grey; }
.post-comments .comment-meta a {font-size: 12px; color: grey; font-weight: bolder; margin-right: 5px; }

.breadcrumbmar{background:#fff;}

 
/*blog end*/
/*Recipe start*/

.thumbnail {border: 1px solid #e2e2e2; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; overflow: hidden; position: relative; display: block; padding: 4px; margin-bottom: 20px; line-height: 1.42857143; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: border .2s ease-in-out; -o-transition: border .2s ease-in-out; transition: border .2s ease-in-out; }
.thumbnail a{text-decoration: none;}
.thumbnail h4{color:#212121; text-decoration: none;}
.thumbnail:hover{box-shadow: 0px 0px 4px 4px #eee;}

.recipemtime{position: absolute; margin-top: -34px; right: 18px; background: #f17048; width: 47px; height: 47px; color: #fff; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; text-align: center; z-index: 99;font-size: 12px; line-height: 15px;} 
.recipemtime .recipemtime-inner{font-size: 15px; margin-top: 9px; display: inline-block; font-weight: bold;}
.veg-icon{position: absolute; top: 10px; right: 15px; z-index: 99;}
.recipecontentheight{max-height: 74px; overflow: hidden;}
.recipehedheight{max-height: 39px; overflow: hidden;}
.timeserving{width: 100%; height: auto;display: inline-block;}
.timeserving{width: 100%;height: auto;}
.timeserving li{width: 24.5%; list-style: none;display: inline-block; padding:10px; line-height: 22px; text-align: center; border-right:1px #ccc solid;}
.timeserving li:last-child{border-right:none;}

.recipeqty{width: 100%; text-align: center;}
.recipeqty .countrecipe {color: #000; display: inline-block; vertical-align: top; font-size: 25px; font-weight: 700; line-height: 30px; padding: 0 2px ;min-width: 35px; text-align: center; }
.recipeqty .plusrecipe {cursor: pointer; display: inline-block; vertical-align: top; color: white; width: 30px; height: 30px; font: 30px/1 Arial,sans-serif; text-align: center; border-radius: 50%; }
.recipeqty .minusrecipe {cursor: pointer; display: inline-block; vertical-align: top; color: white; width: 30px; height: 30px; font: 29px/1 Arial,sans-serif; text-align: center; border-radius: 50%; background-clip: padding-box; }
.minusrecipe:hover{background-color: #717fe0 !important; }
.plusrecipe:hover{background-color: #717fe0 !important; }
.recipeqty>span{-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.recipeqty>input{border: 0; width: 2%; }
.recipeqty>input::-webkit-outer-spin-button,
.recipeqty>input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; }
.recipeqty>input:disabled{background-color:white; }
.recipeqty .counterservtext{display:inline-block;font-weight: bold;}

.recipeqty1{width: 100%; text-align: center;}
.recipeqty1 .countrecipe1 {color: #000; display: inline-block; vertical-align: top; font-size: 16px; font-weight: 700; line-height: 27px; padding: 0 2px ;min-width: 35px; text-align: center; }
.recipeqty1 .plusrecipe1 {cursor: pointer; display: inline-block; vertical-align: top; color: white; width: 25px; height: 25px; font: 24px/1 Arial,sans-serif; text-align: center; border-radius: 50%; }
.recipeqty1 .minusrecipe1 {cursor: pointer; display: inline-block; vertical-align: top; color: white; width: 25px; height: 25px; font: 23px/1 Arial,sans-serif; text-align: center; border-radius: 50%; background-clip: padding-box; }
.minusrecipe1:hover{background-color: #717fe0 !important; }
.plusrecipe1:hover{background-color: #717fe0 !important; }
.recipeqty1>span{-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.recipeqty1>input{border: 0; width: 2%; }
.recipeqty1>input::-webkit-outer-spin-button,
.recipeqty1>input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0; }
.recipeqty1>input:disabled{background-color:white; }


         








/*Recipe end*/

@media screen and (min-width:300px) and (max-width:767px){
.mob-m-t-20{margin-top: 20px;}
#rightsideblogfilter{position: fixed;z-index: 99;top: 60px;right: -100%;background: #fff;}
.sidebarscroll{overflow-y: scroll;}


/*Recipe start*/



/*Recipe end*/



}




